/* My CSS */
body {
  background: linear-gradient(30deg, #50C878, #AFE1AF);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  font-family: 'Montserrat';
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  transform: scaleY(1.5);
  font-size: 3rem;
  color: #8fd1eb;
  text-shadow: 0px 0px 15px #0056ea;
}
.container {
  display: flex;
  height: 20rem;
  width: 30rem;
  flex-direction: column;
  align-items: center;
}
.container .result {
  font-weight: 700;
  text-align: center;
  font-size: 3.5rem;
}
.container .main-word {
  font-weight: 700;
  height: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.75rem;
  letter-spacing: .2rem;
  color: #f3f3f3;
}
.container .typing-input {
  margin-bottom: 1rem;
  height: 2rem;
  width: 5rem;
  font-size: 1rem;
  border-style: none;
  border-radius: 0.2rem;
}
.container .info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 21rem;
  margin: 0 auto;
}
.container .btn {
  height: 4rem;
}
.container .info {
  font-weight: 300;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 1.25rem;
  color: #dfdfdf;
}
.doodledee-img {
  width: 3rem;
  border-radius: 50%;
  margin-top: 3rem;
}

/* Tablet CSS */
@media only screen and (max-width: 70em) {
  .title {
    font-size: 4.5rem;
  }
  .container {
    height: 50rem;
  }
  .container .result {
    font-size: 3.25rem;
  }
  .container .main-word {
    font-size: 3.5rem;
    height: 50%;
  }
  .container .info-container {
    margin: 2rem auto 3rem auto;
  }
}

/* Mobile CSS */
@media only screen and (max-width: 38em) {
  .title {
    font-size: 3rem;
  }
  .container {
    height: 75vh;
  }
  .container .result {
    font-size: 3rem;
  }
  .container .main-word {
    height: 50%;
    font-size: 2.75rem;
  }
  .container .info-container {
    margin: 0 auto;
  }
}

/* CSS for Small Mobiles */
@media only screen and (max-width: 20em) {
  .title {
    font-size: 2.5rem;
  }
  .container {
    width: 27rem;
    height: 20rem;
  }
  .container .result {
    font-size: 2rem;
  }
  .container .main-word {
    font-size: 2rem;
  }
  .container .typing-input {
    font-size: 0.8rem;
  }
  .container .info-container {
    width: 17rem;
  }
  .container .btn {
    height: 2rem;
    font-size: 0.8rem;
  }
  .container .info {
    font-size: 0.9rem;
  }
}